body { 
	background-color: lightblue;	/* Голубой фон */
	color: black;						/* Чёрный текст */
}

h1 { 
	color: red;		/* Синий заголовок */
}

p { 
	font-size: 15px;	/* Размер шрифта абзаца */
    color: green;
}
